<div id="star_rate<%= book.id %>"></div>
<script>
  // if (elem == null) return;
// elem.innerHTML = '<%#= escape_javascript(image_tag("star-on.png")) %>';
  raty(
    document.querySelector('#star_rate<%= book.id %>'),
    {
      starOn: "<%= asset_path('star-on.png') %>",
      starOff: "<%= asset_path('star-off.png') %>",
      score: <%= book.star.present? ? book.star.to_f : 0 %>,
      readOnly: true,
    }
  );
</script>